footer{
  position: relative;
  padding: 24px 0;

  p{
    margin: 0;
  }
}

.morse-wp-footer-line{
  position: absolute;
  top: -4px;
  width: 100%;
  height: 4px;
}

.footer-logo{
  width: 150px;
  flex: 150px 0 0;
  margin-right: 24px;
  margin-bottom: 24px;
}

.footer-right{
  display: flex;
  flex-flow: row wrap;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid rgba(255,255,255,0.2);

  .footer-right-item{
    margin-right: 16px;
  }
}

@media (min-width: 900px){
  .footer-left{
    padding-right: 24px;
    border-right: 1px solid rgba(255,255,255,0.2);
  }

  .footer-right{
    padding-left: 24px;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }
}

@media (min-width: 1200px){
  .footer-left{
    display: flex;

    .footer-logo{
      margin-top: 6px;
    }
  }
}

.post-footer{
  background-color: #222;
  color: #fff;
  font-size: 16px;
  padding: 16px 0;

  .post-footer-inner{
    opacity: 0.4;
  }

  p{
    margin: 0;
  }

  a{
    color: #fff;
    text-decoration: underline;
  }
}