body{
  margin: 0;
  font-size: 20px;
}

a{
  color: blue;
  text-decoration: unset;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container{
  max-width: $main-width;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 0 auto;
}

.uppercase-link{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.article-item, .lede-story{
  h3 a{
    color: #000;
    line-height: 1.1;
  }
}

.lede-story{
  padding-top: 24px;
}

.article-item{
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-column-gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 24px;

  .article-date, .article-author{
    font-size: 16px;
  }

  h3{
    a{
      font-size: 20px;
    }
    margin: 8px 0 16px 0;
  }
}

.article-image{
  transition: opacity 0.1s ease;

  &:hover{
    opacity: 0.8;
  }
}

.full-divider{
  width: 100%;
  height: 4px;
  margin-bottom: 24px;
}

@media (min-width: 600px){
  .lede-story h3 a{
    font-size: 36px;
  }
}

@media (min-width: 600px) and (max-width: 900px), (min-width: 1200px){
  .article-item{
    grid-template-columns: 1fr 300px;

    .article-image{
      display: flex;
      justify-content: flex-end;

      img{
        max-height: 240px;
      }
    }
  }
}

@media (min-width: 900px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 400px;
  }

  .full-header{
    grid-column: 1/3;
  }

  .lede-story{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 400px;

    .lede-right{
      padding-left: 24px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }

  .stories-container{
    margin: 24px 0;
    padding-right: 24px;
    border-right: 1px solid rgba(0,0,0,0.2);

    .article-item h3 a{
      font-size: 24px;
    }
  }
}